POSTGRES_DATABASE_URL = postgresql://user:password@url:port/dbname
SECRET = 1234567890
AlGORITHM = algorithm
NEO4J_URI = neo4j://dburl:port
NEO4J_USER = neouser
NEO4J_PASS = neopass
NEO4J_BB = neo4j
MODELTXTTOCYPHER = modelname
MAINMODEL = qwen2.5-coder:7b
PROXY_SERVER = http://proxy.uni.edu.cu
PROXY_USER = user
PROXY_PASSWORD = PASSWORD