POSTGRES_DATABASE_URL = postgresql://user:password@url:port/dbname
POSTGRES_USER = user
POSTGRES_PASSWORD = 12345678
POSTGRES_DB = db_name
SECRET = 1234567890
AlGORITHM = algorithm
NEO4J_URI = neo4j://dburl:port
NEO4J_USER = neouser
NEO4J_PASS = neopass
NEO4J_BB = neo4j
MODELTXTTOCYPHER = modelname
MAINMODEL = qwen2.5-coder:7b
MODEL_API_KEY = ["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","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"]
BASE_URL = https://model.upr.edu.cu
PROXY_SERVER = http://proxy.uni.edu.cu
PROXY_USER = user
PROXY_PASSWORD = PASSWORD